.login-page{
    display: flex;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 31.25rem;
    height: 40rem;
    text-align: center;
}
  
.Logo{
    width: 10rem;
    margin-bottom: 2.5rem;
}
  
.input-container {
    margin: 10px 0;
}
  
input {
    width: 70%;
    padding: 10px;
    border: 2px solid #00000090;
    border-radius: 6px;
    background-color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    color: black;
}
  
  
input:focus {
    color: rgb(0, 0, 0); 
    border-color: #535bf2;
    outline: none; 
}
  
.login-button {
    width: 50%;
    padding: 10px;
    background-color: #535bf2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
}
  
.login-button:hover {
    background-color: #4349d1;
}
  
.signup-link {
    font-size: 12px;
    display: flex;
    margin-left: 4.5rem;
    margin-bottom: 30px;
}
  
.signup-link a {
    color: #535bf2;
    text-decoration: none;
}

p{
    color: black;
    font-size: small;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    gap: 10px;
    transition: background-color 0.3s ease;
}
  
.social-button img {
    width: 24px; 
    height: 24px; 
    object-fit: contain;
}

  
.social-button.google {
    color: #333;
}
  
.social-button.facebook {
    color: #1877f2;
}

.popup-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #d4edda;
    color: #155724;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
    animation: fadeInOut 2s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    80% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  
  